<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front Page</title>
</head>
<body>
    
    <p><a href="{{ url_for('alphavantage') }}">AlphaVantage Microsoft Daily Series</a></p>

    <p><a href="{{ url_for('titanic', type='reversed') }}">Kaggle Titanic Dataset Reversed</a></p>

    <p><a href="{{ url_for('titanic', type='every_other') }}">Kaggle Titanic Dataset Every Other Column</a></p>

</body>
</html>